# OS
.DS_Store

# Node / Next
node_modules/
.next/
out/
dist/
coverage/
.eslintcache
.turbo/
.pnpm-store/

# Python
.venv/
__pycache__/

# Env
.env
.env.*
!.env.example
apps/**/.env
apps/**/.env.*
packages/**/.env
packages/**/.env.*

# Editor
.vscode/
.idea/

# Media/LFS (optional)
*.mp4
*.mov
*.zip
